{% extends "djlogs/base.html" %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Track yourself.</h1>
        <p class="lead">Make your own logs, and keep a list of the
            topics you're interested in. Whenever you find some interesting things
            about a topic, record a summary here.</p>
        {% if request.user.is_authenticated %}
            <a class="btn btn-lg btn-primary" href="{% url 'djlogs:topics' %}"
                role="button">Topics &raquo;</a>
            <a class="btn btn-lg btn-success" href="{% url 'djlogs:new_topic' %}"
                role="button">Add New &raquo;</a>
            {% if request.user.is_superuser %}
                <a class="btn btn-lg btn-danger" href="{% url 'admin:index' %}"
                    role="button">Admin &raquo;</a>
            {% endif %}
        {% else %}
            <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
                role="button">Register &raquo;</a>
            <a class="btn btn-lg btn-success" href="{% url 'users:login' %}"
                role="button">Login &raquo;</a>
        {% endif %}
    </div>
{% endblock page_header %}